@page
@model blockbusters.Pages.MyAccountModel
@{
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="People/Edit" asp-route-id="@Model.Person.PersonID">Edit</a> |
</div>
<h4>Payment</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Person.Payment.CardholderName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Person.Payment.CardholderName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Person.Payment.CardNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Person.Payment.CardNumber)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Person.Payment.ExpirationDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Person.Payment.ExpirationDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Person.Payment.CCV)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Person.Payment.CCV)
    </dd>
</dl>

<div>
    <a asp-page="Payments/Edit" asp-route-id="@Model.Person.PaymentID">Edit</a> |
</div>

<div class="text-center">
    <h1>Upload File</h1>
</div>
 
<div class="text-center">
    <h1>Upload File</h1>
</div>
 
