@page
@model blockbusters.Pages.SearchModel

@{
    ViewData["Title"] = "Search";
}


    <div style="margin: 0px;padding-top: 100px;">
        <div class="row" style="border-radius: 7px;background: #323232;margin-bottom: 11px;padding: 26px;padding-right: 17px;padding-left: 17px;margin-right: 0px;margin-left: 0px;padding-bottom: 0px;">
            <div class="col" style="width: auto;">
                <div>
                    <form asp-page="./Search" method="get" style="">
                        <input type="search" name="SearchString" style="width: 100%;height: 41px;padding: 0px;border-radius: 5px;border-style: none;min-width: 300px;margin-bottom: 26px;padding-right: 15px;padding-left: 15px;" placeholder="Search">
                    </form>
                </div>
            </div>
            <div class="flex-container filters" style="margin-bottom: 0px;">
                <a asp-page="./Search" asp-route-sortOrder="@Model.NameSort">
                    <button class="btn btn-primary btn-secondary" type="button" style="background: rgb(55,55,55);color: rgb(159,159,159);border-color: rgb(59,59,59);margin-left: 4px;margin-right: 4px;margin-bottom: 26px;">Title</button>
                </a>
                <a asp-page="./Search" asp-route-sortOrder="@Model.DateSort">
                    <button class="btn btn-primary btn-secondary" type="button" style="background: rgb(55,55,55);color: rgb(159,159,159);border-color: rgb(59,59,59);margin-right: 4px;margin-left: 4px;margin-bottom: 26px;">Release Date</button>
                </a>
                <a asp-page="./Search" asp-route-sortOrder="@Model.PriceSort">
                    <button class="btn btn-primary btn-secondary" type="button" style="background: rgb(55,55,55);color: rgb(159,159,159);border-color: rgb(59,59,59);margin-right: 4px;margin-left: 4px;margin-bottom: 26px;">Price</button>
                </a>
                <a asp-page="./Search" asp-route-sortOrder="@Model.RatingSort">
                    <button class="btn btn-primary btn-secondary" type="button" style="background: rgb(55,55,55);color: rgb(159,159,159);border-color: rgb(59,59,59);margin-left: 4px;margin-right: 4px;margin-bottom: 26px;">Rating</button>
                </a>
                <a asp-page="./Search">
                    <button class="btn btn-primary btn-secondary" type="button" style="background: rgb(55,55,55);color: rgb(159,159,159);border-color: rgb(59,59,59);margin-left: 4px;margin-right: 4px;padding-bottom: 0px;padding-top: 5px;margin-bottom: 26px;"><i class="material-icons">refresh</i></button>
                </a>
            </div>
        </div>
        <div id="genre-slider" class="splide" style="margin-bottom: 35px;">
            <div class="splide__track rounded-slider" style="margin-left: -3px;">
                <ul class="splide__list">
                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Action" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Action</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Adventure" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Adventure</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Comedy" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Comedy</p>
                                </div>
                            </div>
                        </a>
                    </li>


                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Mystery" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Mystery</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Fantasy" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Fantasy</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Fiction" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Fiction</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Horror" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Horror</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Romance" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Romance</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Satire" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Satire</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="SciFi" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Sci-Fi</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Thriller" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Thriller</p>
                                </div>
                            </div>
                        </a>
                    </li>


                    <li class="splide__slide" style="width: 300px;height: 95px;">
                        <a asp-page="./Search" asp-route-genreType="Western" class="thumbnail-link" style="text-decoration: none;">
                            <div class="thumbnail-div">
                                <div class="thumbnail-container" style="margin: 0px;background: #323232;height: 95px;border-radius: 7px;width: 300px;">
                                    <p id="NavText-1" class="col" style="color: rgb(255,255,255);font-size: 21px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;padding-top: 31px;">Western</p>
                                </div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="row justify-content-center" style="margin: -1px;">

            @foreach (var item in Model.Movie)
            {


                <div class="moviethumbnail">
                    <a asp-page="./Video" asp-route-id="@item.MovieID" style="text-decoration: none;">
                        <div class="moviecol" style="width: auto;">
                            <img src="/images/@Html.DisplayFor(modelItem => item.ContentLocation)" style="border-radius: 6px;width: 230px;height: 306px;object-fit: cover;">
                            <p id="NavText-2" class="col" style="color: rgb(255,255,255);font-size: 21px;margin-top: 10px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;">@Html.DisplayFor(modelItem => item.Title)</p>
                            <div style="margin-top: -13px;margin-right: 2px;margin-left: 2px;text-align: center;">
                                <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 2.5px;margin-left: 2.5px;background: rgba(195,195,195,0.29);font-size: 14px;">@Html.DisplayFor(modelItem => item.Genre)</label>
                                <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 2.5px;margin-left: 2.5px;background: rgba(177,177,177,0.29);font-size: 14px;">@item.ReleaseDate.ToString("yyyy")</label>
                                <label style="color: white;font-family: 'Inter Medium';padding-right: 10px;padding-left: 10px;padding-bottom: 2px;padding-top: 2px;border-radius: 2px;margin-right: 2.5px;margin-left: 2.5px;background: rgba(195,195,195,0.29);font-size: 14px;">@Html.DisplayFor(modelItem => item.Rating)</label>
                            </div>
                        </div>
                    </a>
                    <p id="NavText-11" class="col" style="color: rgb(188,188,188);font-size: 14px;margin-top: -1px;padding-right: 2px;padding-left: 2PX;font-family: 'Inter Bold';max-width: 100%;text-align: center;margin-bottom: -3px;">@Html.DisplayFor(modelItem => item.Price)</p>
                </div>





            }
        </div>

    </div>
